.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: azure;
	padding: 20px 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
	display: flex;
	justify-content: space-between;
}
.nav__link {
	position: relative;
	color: black;
}
.nav__notification {
	background-color: tomato;
	width: 18px;
	height: 18px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 600;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.nav__notification4 {
	background-color: tomato;
	width: 5px;
	height: 5px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 600;
	position: absolute;
	left: 20px;
	bottom: 20px;
}
